<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FilePath" value="E:\BroadWay\SavedData"/>
		<add key="UserName"  value="Prakash"/>
		<add key="Password" value="Prakash@123"/>
		<add key="ConnectionStrings" value="Server=.;Database=BroadWay;User Id=dotnet;Password=153759Pr@kash;TrustServerCertificate=True;"/>
	</appSettings>
</configuration>